
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>checkbox </h1>

        <form method="POST" action="{% url 'retrive_data' %}">
            {% csrf_token %}

            {% for go in games %}
                <label for="games">{{go.gamen}}</label>
                <input type="checkbox" name="games" id="games" value="{{go}}">
                <br><br>
            {% endfor %}
            <input type="submit" value="Checkbox_Select">
        </form>


    </center>
</body>
</html>
