<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display_location
    </title>
</head>
<body>
        <h1>Displaying location Details</h1>
        <table border="2px">
            <tr>
                <th>player_n</th>
                <th>city</th>
                <th>state</th>
        
            </tr>

            {% for lo in locations %}
                <tr>
                    <td>{{lo.player_n}}</td>
                    
                    <td>{{lo.city}}</td>
                    
                    <td>{{lo.state}}</td> 
                    
                </tr>
            {% endfor %}
        </table>
</body>
</html>
