<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <title>updating_games</title>

    </head>
    <body>
        <center>
        <form method="POST">
            <h1> updating the games data</h1>
            <h1>{% csrf_token %}<h1>
            <label for="game">game_n</label>
            <input type="text" name="game" id="game">
            <br><br>
            <label for="player">player_n</label>
            <input type="text" name="player" id="player">
            <br><br>
            <input type="submit" value="update_game">

            </form>
        </center>
    </body>
</html>